.about {
  background-color: var(--white);
  color: var(--dark);
}

.about__title {
}

.about__description {
  font-size: clamp(23px, 5vw, 30px);
  padding: 50px;
  max-width: 60vw;
  margin: auto;
  text-align: center;
}

.about__connect-btn {
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--accent1);
  transition: all 0.3s ease;
  color: var(--dark);
}

.about__connect-btn:hover {
  box-shadow: 0 0 10px var(--accent1);
  scale: 1.02;
}

.about__cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .about__description {
    max-width: none;
    padding: 30px 15px;
  }
}
