.main {
  display: flex;
}

.main__navbar-container {
  width: 20vw;
  max-width: 250px;
  position: relative;
  background-color: var(--white);
}

.main__navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__navbar-link_active {
  color: var(--blue);
}

.main__content-container {
  width: 100%;
}

.main__canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  touch-action: none;
}

@media (max-width: 768px) {
  .main__mission-statement {
    top: 37%;
    width: 100%;
  }
}
