.main {
  display: grid;
  grid-template-columns: 290px 1fr;
}

.main__navbar-container {
  position: relative;
  background-color: var(--white);
}

.main__navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  margin-left: 15px;
  box-shadow: 0 0 5px var(--black);
  transition: box-shadow 0.3s ease;
}

.main__navbar:hover {
  box-shadow: 0 0 10px var(--gold);
}

.main__navbar-link {
  font-size: 1.2vw;
  position: relative;
  padding: 3px 10px 3px 15px;
  border-radius: 20px;
  border: 2px solid #00000000;
  transition: all 0.2s ease;
}

.main__navbar-link::before {
  content: "";
  background-color: var(--black);
  width: 5px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  border-radius: 5px;
}

.main__navbar-link:hover {
  border-color: var(--black);
}

.main__navbar-link_active {
  color: var(--gold);
  background-color: var(--black);
}

.main__navbar-link_active::before {
  background-color: var(--gold);
}

.main__content-container {
}

.main__canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  touch-action: none;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main__navbar-container {
    display: none;
  }
}
