.about {
  height: 80vh;
  background-color: var(--primary);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__title {
  border-bottom: 1px solid var(--text-light);
  width: fit-content;
  margin: 0 auto 20px;
  padding-top: 10px;
  font-size: 60px;
}

.about__description {
  font-size: 30px;
  padding: 50px;
  max-width: 60vw;
  margin: auto;
  text-align: center;
}

.about__connect-btn {
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--accent1);
  transition: all 0.3s ease;
  color: black;
}

.about__connect-btn:hover {
  box-shadow: 0 0 10px var(--accent2);
  scale: 1.02;
}
