.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(177, 177, 177, 0.397);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: var(--black);
  width: 50%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px var(--black);
}

.modal__title {
  padding: 20px 20px 0;
  margin: auto;
  text-align: center;
  width: fit-content;
  border-bottom: 2px solid var(--gold);
}

.modal__form-container {
  padding: 20px;
}

.modal__close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 15px;
  right: 15px;
}

.modal__close-btn::before,
.modal__close-btn::after {
  content: "";
  position: absolute;
  inset: 50% auto auto 50%;
  width: 20px;
  height: 2px;
  background: var(--text-light);
}

.modal__close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
  .modal__title {
    font-size: 1.4rem;
  }
  .modal__container {
    width: 90%;
  }
}
