.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 75px;
  z-index: 1;
  position: fixed;
  width: 100%;
  color: var(--text-light);
}

.header__spacer {
  height: 75px;
  width: 100%;
  display: block;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.header__center {
  display: flex;
  justify-content: center;
}

.header__logo {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header__logo-short,
.header__logo-full {
  transition: all 0.3s ease;
  white-space: nowrap;
}

.header__logo-short {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
  margin: auto;
}

.header__logo-full {
  opacity: 0;
  transform: translateX(50px);
}

.header__logo:hover .header__logo-short {
  opacity: 0;
  transform: translateX(-50px);
}

.header__logo:hover .header__logo-full {
  opacity: 1;
  transform: translateX(0);
}
