.header {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 10;
}

.header_hidden {
  transform: translateY(-100%);
}

.header__spacer {
  height: 50px;
  display: block;
}

.header__text {
  text-align: center;
}
