.work {
  background-color: var(--primary);
}

.work__title {
  border-bottom: 1px solid var(--text-light);
  color: var(--text-light);
  width: fit-content;
  margin: 0 auto 20px;
  padding-top: 10px;
  font-size: 60px;
}

.work__section {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-areas: "vid divider desc";
  gap: 30px;
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid var(--accent1);
}

.work__section:last-child {
  border: 0;
}

.work__section:nth-child(even) {
  grid-template-areas: "desc divider vid";
}

.work__section-vid {
  grid-area: vid;
  transition: all 0.3s ease;
}

.work__section-vid:hover {
  opacity: 0.7;
}

.work__section-divider {
  grid-area: divider;
  background-color: var(--accent1);
  width: 1px;
  height: 100%;
}

.work__section-description {
  grid-area: desc;
  background-color: var(--secondary);
  color: var(--text-light);
  padding: 20px;
  font-size: 23px;
}

.work__section-description .description-title {
  font-weight: 700;
  font-size: 40px;
}
